{{!-- <main class="form-signin">
  <form>
    <img class="mb-4 " src="img/mpl.jpeg" alt="MPL Logo" height="150px">
    <h1 class="h3 mb-3 fw-normal">Welcome to Oil Wale, Sign in to continue</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>

    
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
  </form>
</main> --}}

<div class="pt-lg-5 pt-sm-3" >

  <div class="d-flex justify-content-center text-center">
    <form>
      <img class="mb-4 " src="img/mpl.jpeg" alt="MPL Logo" height="150px">
      <h1 class="h3 mb-3 fw-normal">Welcome to Oil Wale</h1>

      <div class="form-floating p-1">
        <input type="email" class="form-control" id="email" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating p-1">
        <input type="password" class="form-control" id="password" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>

      
      <button class="w-100 btn btn-lg btn-primary mt-2" type="submit" id="submit">Log in</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>  
    </form>

  </div>
</div>


<script>

  document.getElementById('submit').addEventListener("click", function(e){
    e.preventDefault()


    var email = document.getElementById('email').value
    var password = document.getElementById('password').value

    firebase.auth().signInWithEmailAndPassword(email, password)
      .then((userCredential) => {
        // Signed in
        var user = userCredential.user;
        // ...
        console.log("success")
        console.log(user)
      })
      .catch((error) => {
        var errorCode = error.code;
        var errorMessage = error.message;
        console.log(errorMessage)
      });
  })

  
</script>
